/* Import Mulish font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Login Box */
.ext-sign-in-box {
    border-radius: 20px;
    overflow: hidden;
}

/* Text Styling */
.ext-title {
    color: #2C3B4E;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}
.ext-subtitle, .ext-error {
    color: #5B7383;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
}

/* Input Box */
.ext-input.ext-text-box {
    border: none;
    border-bottom: 2px solid #2C3B4E;
    color: #5B7383;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    outline: none;
    padding: 10px;
    transition: border-bottom-color 0.3s ease;
}
.ext-input.ext-text-box:hover {
    border-bottom: 2px solid #EB86B7;
}
.ext-input.ext-text-box.ext-has-error {
    border-bottom: 2px solid red;
}

/* Buttons */
.ext-button.ext-primary {
    background-color: #2C3B4E;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.ext-button.ext-primary:hover,
.ext-button.ext-primary:focus {
    background-color: #32C6F4;
}
.ext-button.ext-primary:active {
    background-color: #1A8FB7;
}
.ext-button.ext-secondary {
    background-color: #808080;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.ext-button.ext-secondary:hover,
.ext-button.ext-secondary:focus {
    background-color: #6E6E6E;
}
.ext-button.ext-secondary:active {
    background-color: #5C5C5C;
}

/* Sign in Options */
.ext-promoted-fed-cred-box {
    border-radius: 20px;
    color: #5B7383;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    overflow: hidden;
}